[submodule "lib/gemfab"]
	path = lib/gemfab
	url = https://github.com/ricobank/gemfab
	branch = develop
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidstate-solidity"]
	path = lib/solidstate-solidity
	url = https://github.com/solidstate-network/solidstate-solidity
