[submodule "lib/feedbase"]
	path = lib/feedbase
	url = https://github.com/feedbase/feedbase
	branch = main
[submodule "lib/gemfab"]
	path = lib/gemfab
	url = https://github.com/ricobank/gemfab
[submodule "lib/weth"]
	path = lib/weth
	url = https://github.com/etherpacks/weth
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/uniswapv3"]
	path = lib/uniswapv3
	url = https://github.com/etherpacks/uniswapv3.git
