[submodule "lib/feedbase"]
	path = lib/feedbase
	url = https://github.com/feedbase/feedbase
[submodule "lib/gemfab"]
	path = lib/gemfab
	url = https://github.com/ricobank/gemfab
[submodule "lib/weth-pack"]
	path = lib/weth-pack
	url = https://github.com/etherpacks/weth-pack.git
[submodule "lib/balancer-pack"]
	path = lib/balancer-pack
	url = https://github.com/etherpacks/balancer-pack.git
